{% extends 'base.html.twig' %}
{% block body %}
    <section class="endform">
        <p> Vos informations ont bien été enregistrés. Veuillez consulter votre email pour bien valider votre compte.</p>
         <a class="btn btn-primary" href="{{ path('app_home') }}">Accueil</a>
    </section>
{% endblock %}