<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('images/ppg_logo_v5.svg') }}" alt="Bootstrap">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('images/pngwing.com.png') }}" alt="Bootstrap">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropstart">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a class="dropdown-item" href="#">My account</a></li>
                        <li><a class="dropdown-item" href="#">My Videos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="log-off"><a class="dropdown-item" href="#">Log-off</a>
                            {{ ux_icon('gg:log-off', {class:'dropdown-item logoff-icn', height:'32px', width:'32px'}) }}
                        </li>

                    </ul>
                </li>

            </ul>

        </div>

    </div>

</nav>
