{% extends "base.html.twig" %}

{% block title %}
	Panneau Administrateur
{% endblock %}
{% block body %}
	<div class="dashboard">
		<div class="dashboardTitle">
			
			<h2>
				Interface Administrateur
			</h2>
		</div>
		<div class="dashboardList">
			<ul class="listTitle">
				<li>
					<div class="listTitleLogo"></div>
					<h3>Gestion des utilisateurs</h3>
				</li>
				<li class="listButton-responsive">
					<a href="dashboard/users">Gérer</a>
				</li>
				<li>
					<div class="listTitleLogo"></div>
					<h3>Gestion des videos Twitch</h3>
				</li>
				<li class="listButton-responsive">
					<a href="dashboard/avis">Gérer</a>
				</li>
				<li>
					<div class="listTitleLogo"></div>
					<h3>Gestion Live Twitch</h3>
				</li>
				<li class="listButton-responsive">
					<a href="dashboard/rooms">Gérer</a>
				</li>
				<li>
					<div class="listTitleLogo"></div>
					<h3>Gestion des categories</h3>
				</li>
				<li class="listButton-responsive">
					<a href="dashboard/messages">Gérer</a>
				</li>
				<li>
					<div class="listTitleLogo"></div>
					<h3>Gestion des jeux</h3>
				</li>
				<li class="listButton-responsive">
					<a href="dashboard/messages">Gérer</a>
				</li>
				
			</ul>
			<ul class="listButton-desktop">
				<li>
					<a href="dashboard/users">Gérer</a>
				</li>
				<li>
					<a href="dashboard/services">Gérer</a>
				</li>
				
				<li>
					<a href="dashboard/services">Gérer</a>
				</li>
				<li>
					<a href="dashboard/bookings">Gérer</a>
				</li>
				<li>
					<a href="dashboard/messages">Gérer</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
