@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #08D9D6;
$secondary-color: #252A34;
$third-color: #EBF7F6;
$primary-font: 'Jost', sans-serif;
