@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
 
 .dashboard {
    margin-block: 2.5rem;
    border-radius: 25px 0px 25px 0px;
    border: 2px solid #252a3454;
    box-shadow: 0px 0px 16px 1px #08D9D6;
    font-size: 1.2rem;
    width: 80%;
    font-family: "Jost", sans-serif;
    margin-left: 5rem;
}

.dashboard li {
    list-style: none;
}

.dashboard .dashboardTitle {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    margin-left: 2rem;
    margin-top: 1rem;
    gap: 1rem;
}

.dashboard .dashboardTitle h2,
h3 {
    font-size: 1.5rem;
}

.dashboard .dashboardList {
    display: flex;
    justify-content: space-around;
    margin-block: 2rem;
    flex-direction: row;

}

.dashboard .listTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listTitle li {
    margin-block: .3rem;
    display: flex;
}

.listTitle li h3 {
    margin-left: 1rem;
}

.listTitleLogo {
    height: 24px;
    width: 24px;
}

.listButton-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1rem;
    box-shadow: white;
}

.listButton-desktop li {
    display: flex;
}


.listTitle hr,
.listButton-desktop hr {
    color: var(--primary-color);
    border: .1rem solid;
    width: 100%;
    margin: 0;
}

.listButton-desktop .listButton-responsive {
    margin-top: 2rem;
    border-radius: 19px;
    background: radial-gradient(circle, rgba(8, 217, 214, 0.8827906162464986) 0%, rgba(18, 159, 161, 1) 44%, rgba(37, 42, 52, 1) 100%);
    border: 0px;
    box-shadow: 0px 0px 15px 1px #252A34;
}

.listButton a:hover {
    background-color: var(--secondary-colour);
    transition: all 0.3s;
}

.listTitle .listButton-responsive {
    display: none;
}


@media screen and (max-width: 1000px) {
    .listButton-desktop {
        display: none;
    }

    .listTitle .listButton-responsive {
        display: flex;
        align-self: center;
        margin-bottom: 1.5rem;
    }

    .listTitle {
        padding-left: .5;
    }

    .listTitle li {
        margin-block: .3rem;
        text-align: left;
    }

    .listTitle li h3 {
        font-size: 1.4rem;
        margin: .5rem 0 0 .5rem;
    }

    .dashboard .dashboardList {
        margin-block: 0;
    }

    .listTitle li .listTitleLogo {
        margin: .5rem 0 0 0;
    }

    .listButton-responsive a,
    .listButton.mt-3.w-50.m-auto button {
        color: var(--secondary-font-colour);
        padding: 0.5rem;
        font-size: 1rem;
        color: var(--secondary-font-colour);
        background-color: var(--primary-colour);
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: .5rem;
        border: 0.2rem solid var(--primary-color);
        box-shadow: 2px 4px 1.2px #44444471;
        margin-inline: 0.3rem;
        text-decoration: none;
    }

}