@import "variable";
footer{
    margin-top: auto;
}

footer .container {
    color: $third-color;
}

footer ul {
    align-items: center;
    gap:1rem;
}

.nav {
width:100%;
justify-content: space-between !important;
}

.companylist {
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap:1rem;
}

@media  only screen and (max-width: 535px) {
    .companylist {
        display:flex;
        flex-direction: column;
    }
}
