body {
    color: $third-color;
    }

h1 {
    text-align: center;
}

h2, h3 {
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.mentions{
    margin: 1rem auto;
    scrollbar-width: none;
    overflow-y: scroll;
    height: 80vh;
    width: 80%;
}
