nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: transparent !important;
    margin: 0.5rem 1rem;
}

.navbar-brand {
    height: 50px;
}
.navbar-brand img {
    height: 100%;
}
ul.navbar-nav {
    gap: 0.5rem;
}

li.nav-item a {
    color: $primary-color !important;
    font-size: 1.1rem ;
}
ul.dropdown-menu.show {
    background-color: $fourth-color !important;
    border-color: $fourth-color !important;
    box-shadow: 0px 0px 8px 0px #08d9d696;
}
li.log-off {
    text-align: center;
}
svg.logoff-icn {
    color: $primary-color;
}
a.dropdown-item.log-off {
    padding: 0px 16px;
}
.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: transparent;
}

