@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Jost", sans-serif;
    background-color: #252A34 !important;
}
.register {
    background-color: #3a4252;
    width: 650px;
    height: 60vh;
    padding: 2rem 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 16px 1px #08D9D6;
    border: 2px solid #252a3454;
    margin-bottom: 2rem;
    color: #EBF7F6;
    font-family: "Jost", sans-serif;
}
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container.logo img{
    height: 100%;
}
.container.logo {
    height: 130px;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 3rem;
}
.text-primary{
    margin-bottom: 2rem;
    text-align: center;
    color: #EBF7F6;
}
.btn-primary{
    margin-top: 2rem;
    border-radius: 19px;
    background: radial-gradient(circle, rgba(8, 217, 214, 0.8827906162464986) 0%, rgba(18, 159, 161, 1) 44%, rgba(37, 42, 52, 1) 100%);
    border: 0;
    box-shadow: 0 0 15px 1px #252A34;
}
h2{
    text-align: center;
}
