 body {
     font-family: $primary-font;
     background-color: $secondary-color;
     display: flex;
     flex-direction: column;
     height: 100vh;
 }
 video {
     width: 640px;
     height: 360px;
     height: auto;
 }

 .alert {
    display:flex;
    justify-content: space-between;
}
 a
 {
     text-decoration: none;
 }



