<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('images/logo-wild-code-school.svg') }}"/>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include 'include/_nav-bar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
    <footer>
    {% include 'include/_footer.html.twig' %}
    </footer>
</html>
