{% extends 'base.html.twig' %}
{% block body %}
    <section class="endform">
        <h2> Questionnaire </h2>
        <p>Votre questionnaire à été édité, vos nouvelles préférences de vidéos sont appliqués.</p>
        <a class="btn btn-primary" href="{{ path('app_home') }}">Retourner à l'accueil</a>
    </section>
{% endblock %}