{% extends 'base.html.twig' %}
{% block body %}
    <section class="endform">
        <h2> Questionnaire </h2>
        <p>Merci d'avoir rempli le questionnaire, cela va nous permettre de mettre immédiatement en avant les vidéos en rapport avec vos centres d'intérêt.</p>
        <a class="btn btn-primary" href="{{ path('app_home') }}">Retourner à l'accueil</a>
    </section>
{% endblock %}